bash_kernel
beautifulsoup4
bokeh
boxsdk
chainer
cirq
colorlover
cvxopt
#cvxpy
Cython
django
#dlib #A toolkit for making real world machine learning and data analysis applications
flickrapi
GitPython
gensim
#gluon
google
gym
h5py
holoviews
html5lib
im2pdf
imgaug #Image augmentation library for machine learning
imgkit
importlib2
imutils #A series of convenience functions to make basic image processing functions such as translation, rotation, resizing, skeletonization, displaying Matplotlib images, sorting contours, detecting edges, and much more easier with OpenCV and both Python 2.7 and Python 3.
ipython
Janome
julia
jupyter
jupyterlab
jupyterlab-latex
#jupyter-emacskeys
jupyter_latex_envs
Keras
librosa
llvmlite
logutils
luminol
lxml
matplotlib
mecab-python3
mtcnn
networkx
nltk
numba
numpy
opencv-python
openfermion
openpyxl
pandas
pandas-datareader
pandoc
patsy
#pycocotools #Tools for working with the MSCOCO dataset
py-cpuinfo
pdfcrowd3
pdfminer.six
Pillow
pip-review
pip-tools
plotly
PuLP
protobuf
projectq
pscript
psd-tools2
psutil
Pygments
pyknp
pymc3
pyocr
pyOpenSSL
PypeR
pyquil
PyQt5
pytestf
python-pptx
#pyzmq
qiskit
#qutip
scikit-image
scikit-learn
scipy
Scrapy
seaborn
selectivesearch
selenium
sip
slackbot
slackweb
spacy
statsmodels
sympy
tables
td-client
torch
torchtext
torchvision
Tempita
#tensorflow
tensorflow-hub
tensorflow-probability
#tensorflow-tensorboard
Theano
torch
torchvision
tqdm
Wand
wikipedia
wordcloud
xlrd
XlsxWriter
