bash_kernel
beautifulsoup4
boxsdk
chainer
Cython
django
dlib #A toolkit for making real world machine learning and data analysis applications
GitPython
gensim
#gluon
google
gym
h5py
holoviews
html5lib
im2pdf
imgaug #Image augmentation library for machine learning
imutils #A series of convenience functions to make basic image processing functions such as translation, rotation, resizing, skeletonization, displaying Matplotlib images, sorting contours, detecting edges, and much more easier with OpenCV and both Python 2.7 and Python 3.
ipython
Janome
julia
jupyter
jupyterlab
jupyterlab-latex
#jupyter-emacskeys
jupyter_latex_envs
Keras
librosa
llvmlite
logutils
luminol
lxml
matplotlib
mecab-python3
networkx
nltk
numba
numpy
opencv-python
openpyxl
pandas
pandas-datareader
pandoc
patsy
pycocotools #Tools for working with the MSCOCO dataset
pdfminer.six
Pillow
pip-review
pip-tools
plotly
psd-tools2
Pygments
pyocr
pyOpenSSL
PypeR
pytest
python-pptx
#pyzmq
scikit-image
scikit-learn
scipy
Scrapy
seaborn
selenium
statsmodels
sympy
tables
Tempita
tensorflow
tensorflow-tensorboard
Theano
tqdm
Wand
wikipedia
wordcloud
xlrd
XlsxWriter
